html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-color: #daede5;
}

.main-home {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  display: block;
}

header {
  display: flex;
  background-color: green;
  width: 100%;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-family: "Pacifico", cursive;
  font-size: 4rem;
  color: white;
  margin-left: 1rem;
  margin: 10px;
  padding: 5px;
}

nav ul {
  display: flex;
  margin: auto;
}

nav li {
  margin-left: 2rem;
}

li a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
  margin-right: 0.5rem;
}

.radioplayer {
  margin-left: 2rem;
  margin-right: 1rem;
}

.mySlides {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mySlides img {
  max-width: 100%;
  max-height: 100%;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

footer {
  background-color: green;
  width: 100%;
  min-height: 50px;
}

.vote-body {
  background-color: #daede5;
}

#nameInput {
  font-size: 2rem;
  padding: 5px;
  max-width: 500px;
  margin: auto;
  padding: 5px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.genre-image,
.decade-image {
  cursor: pointer;
  width: 200px;
  height: 200px;
  margin: 5px;
  transition: transform 0.5s ease;
  display: inline-block;
}

.genre-image.selected,
.decade-image.selected {
  border: 5px solid red;
  border-radius: 50%;
}

.genre-image.clicked,
.decade-image.clicked {
  transform: rotate(720deg);
  pointer-events: none;
}
.decade-image {
  display: none;
}

#refreshButton {
  color: green;
  margin: auto;
  height: 50px;
  width: 300px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: solid 3px;
  border-radius: 12px;
  font-weight: bold;
  font-size: 2rem;
}

.voteimg {
  max-height: 200px;
  max-width: 200px;
  margin-top: 1rem;
  margin-top: 0.5rem;
}

.votinginfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 800px;
  margin-left: 1rem;

  border: solid 3px;
  border-radius: 12px;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  padding-bottom: 0;
}
.vottext {
  font-size: 2rem;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 500;
  max-width: 500px;
  line-height: 1.5;
  margin-top: 2rem;
  padding: 5px;
  margin: 1rem;
}
.mainvote {
  display: flex;
  gap: 8rem;
  margin: auto;
}

.recordmus {
  max-height: 400px;
  max-width: 400px;
}
.collectvote {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
  max-width: 1200px;
}
#genreChartCanvas {
  max-width: 600px;
  max-height: 600px;
}

#decadeChartCanvas {
  max-width: 600px;
  max-height: 600px;
}
.voteresult {
  display: flex;
  gap: 3rem;
  margin: auto;
  margin-top: 2rem;
}

.genreres {
  display: flex;
  gap: 2rem;
}

.decaderes {
  display: flex;
  gap: 2rem;
}
#musicDecades {
  max-width: 800px;
}

.about-main {
  display: flex;
  gap: 3rem;
  margin: auto;
}
p {
  font-family: "Ysabeau Infant", sans-serif;
  line-height: 1.3;
  font-size: 1.3rem;
  margin-top: 1em;
  margin-bottom: 1em;
}

.aboutheading {
  font-family: "Bebas Neue", sans-serif;
  line-height: 1.5;
  font-size: 3rem;
}
.aboutinfo {
  margin-right: 3rem;
  margin-top: 1rem;
  padding: 5px;
}
